<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head th:replace="layout :: headfragment"></head>
<body>
<nav th:replace="layout :: navfragment"></nav>
<main role="main" class="container" th:replace="layout :: mainfragment(~{::content})">
    <div th:fragment="content">
        <h2>Fresh Technology System Access Request Form</h2>
        <form th:object="${credentialRequest}" th:action="@{/credentialEmail/}" method="post">
            <h3>Your Information</h3>
            <div id="reqinfo" class="form-group">
                <label>Name:
                    <input type="text" class="form-control-plaintext" name="reqName"
                           th:value="${user.getFname()} + ' ' + ${user.getLname()}" readonly>
                </label>
                <label>Position:
                    <input type="text" class="form-control-plaintext" name="reqPosition"
                           th:value="${user.getTypeUser()}" readonly>
                </label>
                <label>Reply-to Email:
                    <input type="email" class="form-control" size="40" name="reqEmail" th:value="${user.getEmail()}"
                           required>
                </label>
                <input type="hidden" name="reqConcept" th:value="${user.getConcept()}">
            </div>
            <div id="reqtype" class="form-group">
                <h3>Request Type</h3>
                <ul>
                    <li th:each="rtype : ${requestTypes}">
                        <input class="form-check-input" type="radio" th:field="*{reqType}" th:value="${rtype}" required>
                        <label class="form-check-label" th:for="${#ids.prev('reqType')}" th:text="${rtype}"></label>
                    </li>
                </ul>
            </div>
            <div id="userinfo" class="form-group">
                <h3>Employee Information</h3>
                <label class="col-4">First and Last Name of Employee:
                    <input class="form-control" type="text" th:field="*{userName}" required>
                </label>
                <label class="col-2" th:for="${#ids.next('userPosition')}">Employee Position:
                    <select class="form-control" th:field="*{userPosition}">
                        <option th:each="userPos : ${allPositions}"
                                th:value="${userPos}"
                                th:text="${userPos}"></option>
                    </select>
                </label>
                <label class="col-2" th:for="${#ids.next('concept')}">Concept:
                    <select class="form-control" th:field="*{concept}">
                        <option th:each="con : ${concepts}"
                                th:value="${con}"
                                th:text="${con}"></option>
                    </select>
                </label>
                <label class="col-3" th:for="${#ids.next('location')}">Store Location:
                    <select class="form-control" th:field="*{location}">
                        <option th:each="store : ${stores}"
                                th:value="${store}"
                                th:text="${store}"></option>
                    </select>
                </label>
                <label class="col-4">Employee Email:
                    <input class="form-control" type="text" th:field="*{userEmail}" required>
                </label>
            </div>
            <div id="system" class="form-group">
                <h3>Systems</h3>
                <ul>
                    <li th:each="sys : ${systemTypes.keySet()}">
                        <input class="form-check-input" data-toggle="collapse" th:data-target="'#' + ${sys.toLowerCase()}"
                               type="checkbox"
                               th:field="*{systemTypes}"
                               th:value="${{sys}}">
                        <label class="form-check-label" th:for="${#ids.next('systemTypes')}" th:text="${systemTypes.get(sys)}"></label>
                    </li>
                </ul>
            </div>
            <div id="email" class="collapse">
                <h3>Email</h3>
                <p>If removing you may provide a forwarding address for the employee.</p>
                <div>
                    <label>Forward Email:
                    <input class="form-control" type="text" th:field="*{forwardEmail}">
                    </label>
                </div>
            </div>
            <div id="tools" class="collapse">
                <h3>Tools Account Options</h3>
                <div class="form-group">
                    <h4>Additional Permissions</h4>
                    <p>(*GM Defaults)</p>
                    <ul>
                        <li>
                            <input type="checkbox" class="form-check-input" th:field="*{empMaint}" value="Pay Rates">
                            <label class="form-check-label">*Can View and Edit Pay Rates</label>
                        </li>
                        <li>
                            <input type="checkbox" class="form-check-input" th:field="*{empMaint}" value="Terminate Employees">
                            <label class="form-check-label">*Can Terminate Employees</label>
                        </li>
                        <li>
                            <input type="checkbox" class="form-check-input" th:field="*{empMaint}" value="Run Remotely">
                            <label class="form-check-label">*Can Run Employee Maintenance Remotely</label>
                        </li>
                        <li>
                            <input type="checkbox" class="form-check-input" th:field="*{hourlyRateAudit}" value="View Grid">
                            <label class="form-check-label">*Can View Active Employee Grid</label>
                        </li>
                        <li>
                            <input type="checkbox" class="form-check-input" th:field="*{hourlyRateAudit}" value="Run Audit">
                            <label class="form-check-label">*Can Run Hourly Rate Audit</label>
                        </li>
                        <li>
                            <input type="checkbox" class="form-check-input" th:field="*{invCounts}">
                            <label class="form-check-label">*Can View and Update Organization</label>
                        </li>
                        <li>
                            <input type="checkbox" class="form-check-input" th:field="*{flash}">
                            <label class="form-check-label">*Can Run Flash</label>
                        </li>
                        <li sec:authorize="hasAnyAuthority('OWNER','OPERATOR','OPERATOR-EDIT','ADMIN')">
                            <input type="checkbox" class="form-check-input" th:field="*{salaryMgmt}">
                            <label class="form-check-label">Can Run Salary Management Tool (must be requested by Owner/Concept Executive)</label>
                        </li>
                        <li>
                            <input type="checkbox" class="form-check-input" th:field="*{foodBevReq}">
                            <label class="form-check-label">Can Request New PLU</label>
                        </li>
                        <li>
                            <input type="checkbox" class="form-check-input" th:field="*{payrollData}">
                            <label class="form-check-label">Remove permission for GM User to Run Payroll Register (includes all Salaried
                                Employees)</label>
                        </li>
                    </ul>
                </div>
                <div class="form-group" sec:authorize="hasAnyAuthority('OWNER','OPERATOR','OPERATOR-EDIT','ADMIN')">
                    <h4>Sales Reports Email</h4>
                    <ul id="salesReports">
                        <li>
                            <input type="checkbox" class="form-check-input" th:field="*{salesReports}" value="Daily">
                            <label class="form-check-label">Sales Report (must be requested by Owner/Concept Executive)</label>
                        </li>
                        <li>
                            <input type="checkbox" class="form-check-input" th:field="*{salesReports}" value="Projected">
                            <label class="form-check-label">Projected Sales Report (must be requested by Owner/Concept Executive</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group" id="notes">
                <h3>Notes</h3>
                <textarea class="form-control" maxlength="140" th:field="*{notes}"></textarea>
            </div>
            <br>
            <input type="submit" value="Submit Request">
        </form>
    </div>
</main>
<div th:replace="layout :: scripts"></div>
</body>
</html>