<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: headfragment"></head>
<body>
<nav th:replace="layout :: navfragment"></nav>
<main role="main" class="container" th:replace="layout :: mainfragment(~{::content})">
    <div th:fragment="content">
        <h1>Beer Approval Request Form</h1>
        <form action="#" th:object="${beerApprove}" th:action="@{/mac/beer/approveEmail}" method="post">
            <h3>Store Information</h3>
            <div class="form-group">
                <label th:for="${#ids.next('storeName')}">Store Name:
                    <select class="form-control form" th:field="*{storeName}">
                        <option th:each="store : ${locations}"
                                th:value="${store}"
                                th:text="${store}"></option>
                    </select>
                </label>
                <label>Contact Name:
                    <input type="text" class="form-control form" size="30" th:field="*{contactName}" required>
                </label>
                <label>Contact Email:
                    <input type="email" class="form-control form" size="30" th:field="*{contactEmail}" required>
                </label>
            </div>
            <h3>Beer Information</h3>
            <div class="form-group">
                <label>Beer Name:
                    <input type="text" class="form-control form" th:field="*{beerName}" required>
                </label>
                <label>Pour Size:
                    <input type="text" class="form-control form" th:field="*{pourSize}" required>
                </label>
                <label>Cost:
                    <input type="number" step="0.01" class="form-control form" th:field="*{cost}" required>
                </label>
                <label>Distributor:
                    <input type="text" class="form-control form" th:field="*{distributor}" required>
                </label>
                <label>Price:
                    <input type="number" step="0.01" class="form-control form" th:field="*{price}" required>
                </label>
            </div>
            <div class="form-group" id="notes">
                <h3>Notes</h3>
                <textarea class="form-control" maxlength="140" th:field="*{notes}"></textarea>
            </div>

            <div class="mt-5 form-group row justify-content-between">
                <div class="col-2">
                    <input type="submit" class="btn btn-secondary form-control" value="Submit Request">
                </div>
            </div>

        </form>
    </div>
</main>
</body>
</html>