<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: headfragment"></head>
<body>
<nav th:replace="layout :: navfragment"></nav>
<main role="main" class="container" th:replace="layout :: mainfragment(~{::content})">
    <div th:fragment="content">
        <h1>EDC Refund Request Form</h1>
        <form action="#" th:object="${refundRequest}" th:action="@{/mac/refundEmail}" method="post">
            <h3>Location Information</h3>
            <div class="form-group">
                <label th:for="${#ids.next('storeName')}">Store Name:
                    <select class="form-control form" th:field="*{storeName}">
                        <option th:each="store : ${locations}"
                                th:value="${store}"
                                th:text="${store}"></option>
                    </select>
                </label>
                <label>Contact Name:
                    <input type="text" class="form-control form" size="30" th:field="*{contactName}" required>
                </label>
                <label>Contact Email:
                    <input type="email" class="form-control form" size="30" th:field="*{contactEmail}" required>
                </label>
            </div>
            <h3>Guest Information</h3>
            <div class="form-group">
                <label>Guest Name:
                    <input type="text" class="form-control form" th:field="*{guestName}">
                </label>
                <label>Guest Phone:
                    <input type="tel" class="form-control form" th:field="*{guestPhone}">
                </label>
            </div>
            <h3>Employee Information</h3>
            <div class="form-group">
                <label>Employee Name:
                    <input type="text" class="form-control form" th:field="*{employeeName}" required>
                </label>
                <label>Employee Id:
                    <input type="number" class="form-control form" th:field="*{employeeId}" required>
                </label>
            </div>
            <h3>Transaction Information</h3>
            <div class="form-group">
                <label>Date of Transaction:
                    <input type="date" class="form-control form" th:field="*{date}" required>
                </label>
                <label>Card Type:
                    <input type="text" class="form-control form" th:field="*{cardType}" required>
                </label>
                <label>Last 4 of CC:
                    <input type="number" class="form-control form" th:field="*{lastFour}" required>
                </label>
            </div>
            <h3>Check Information</h3>
            <div class="form-group">
                <label>Check Number:
                    <input type="text" class="form-control form" th:field="*{checkNumber}" required>
                </label>
                <label>Check Amount:
                    <input type="number" step="0.01" class="form-control form" th:field="*{checkAmount}" required>
                </label>
                <label>Original Tip:
                    <input type="number" step="0.01" class="form-control form" th:field="*{originalTip}" required>
                </label>
                <label>Refund Amount:
                    <input type="number" step="0.01" class="form-control form" th:field="*{refundAmount}" required>
                </label>
                <br>
                <label class="col-3 px-0">Reason for Refund:
                    <textarea class="form-control form" maxlength="140" th:field="*{explanation}" required></textarea>
                </label>
            </div>
            <div class="form-group" id="notes">
                <h3>Notes</h3>
                <textarea class="form-control form" maxlength="140" th:field="*{notes}"></textarea>

            </div>

            <div class="mt-5 form-group row justify-content-between">
                <div class="col-2">
                    <input type="submit" class="btn btn-secondary form-control" value="Submit Request">
                </div>
            </div>

        </form>
    </div>
</main>
</body>
</html>