<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: headfragment"></head>
<body>
<nav th:replace="layout :: navfragment"></nav>
<main role="main" class="container" th:replace="layout :: mainfragment(~{::content})">
    <div th:fragment="content">
        <h1>Event Request</h1>
        <form action="#" th:object="${event}" th:action="@{/mac/eventEmail}" method="post">
            <h3>Store Information</h3>
            <div class="form-group">
                <label th:for="${#ids.next('storeName')}">Store Name:
                    <select class="form-control form" th:field="*{storeName}">
                        <option th:each="store : ${locations}"
                                th:value="${store}"
                                th:text="${store}"></option>
                    </select>
                </label>
                <label>Contact Name:
                    <input type="text" class="form-control form" size="30" th:field="*{contactName}" required>
                </label>
                <label>Contact Email:
                    <input type="email" class="form-control form" size="30" th:field="*{contactEmail}" required>
                </label>
            </div>
            <h3>Event Information</h3>
            <div class="form-group">
                <label>Event Date:
                    <input type="date" class="form-control form" th:field="*{eventDate}" required>
                </label>
                <label>Event Time:
                    <input type="time" class="form-control form" th:field="*{eventTime}" required>
                </label>
                <label>Event Name:
                    <input type="text" class="form-control form" th:field="*{eventName}" required>
                </label>
                <label>Event Partners:
                    <input type="text" class="form-control form" th:field="*{eventPartners}" >
                </label>
            </div>
            <h3>Beers</h3>
            <div class="form-group" id="beers">
                <label>Beer 1:<input type="text" id="beer0" class="form-control form" th:field="*{beers[0]}" ></label>
            </div>
            <div id="addBeer" class="form-group">
                <button type="button" class="btn btn-primary form-control col-2" onclick="addRow();">Add Beer</button>
            </div>
            <div class="form-group" id="notes">
                <h3>Notes</h3>
                <textarea class="form-control" maxlength="140" th:field="*{notes}"></textarea>
            </div>
            <div class="mt-5 form-group row justify-content-between">
                <div class="col-2">
                    <input id="theSubmit" type="submit" class="btn btn-secondary form-control" value="Submit Request">
                </div>
            </div>
        </form>
    </div>
</main>
<script type='text/javascript'>
    var index = 0;

    function addRow() {
        var body = document.getElementById('beers');

        index++;

        var beer = '<br><label>Beer ' + (index - -1) + ':<input type="text" id="beer' + index + '" class="form-control form" name="beers[' + index + ']" value></label>';

        body.insertAdjacentHTML("beforeend", beer);

    }
</script>
<div th:replace="layout :: scripts"></div>
</body>
</html>