<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: headfragment"></head>
<body>
<nav th:replace="layout :: navfragment"></nav>
<main role="main" class="container" th:replace="layout :: mainfragment(~{::content})">
    <div th:fragment="content">
        <h1>Password Reset Request Form</h1>
        <form action="#" th:object="${passResetRequest}" th:action="@{/mac/resetEmail}" method="post">
            <h3>Application Information</h3>
            <div class="form-group">
                <label>Application/Program:
                    <input type="text" class="form-control form" th:field="*{application}" required>
                </label>
                <label th:for="${#ids.next('storeName')}">Store Name:
                    <select class="form-control form" th:field="*{storeName}">
                        <option th:each="store : ${locations}"
                                th:value="${store}"
                                th:text="${store}"></option>
                    </select>
                </label>
            </div>
            <h3>User Information</h3>
            <div class="form-group">
                <label>Employee Name:
                    <input type="text" class="form-control form" th:field="*{employeeName}">
                </label>
                <label>Username:
                    <input type="tel" class="form-control form" th:field="*{username}">
                </label>
                <label>Reply-to Email:
                    <input type="email" class="form-control form" size="30" th:field="*{replyToEmail}" required>
                </label>
            </div>


            <div class="mt-5 form-group row justify-content-between">
                <div class="col-2">
                    <input type="submit" class="btn btn-secondary form-control" value="Submit Request">
                </div>
            </div>

        </form>
    </div>
</main>
</body>
</html>