li {
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
}

body {
    padding-top: 15px;
}

@media (max-width: 575px) {
    body {
        padding-top: 175px;
    }
}

#notes textarea{
    max-width: 600px;
    height: 150px;
}