<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
    <script type='text/javascript' src="/webjars/jquery/jquery.min.js"></script>
    <script type='text/javascript' src='/webjars/bootstrap/js/bootstrap.min.js'></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="col-sm-2"><a class="navbar-brand" href="/"><img style="width: 100% \9;" class="img-fluid" alt="Responsive image" src="/images/FTPHB.png" /></a></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/credentialForm">Credential Request</a>
            </li>
            <!--<li class="nav-item">-->
            <!--<a class="nav-link disabled" href="#">Disabled</a>-->
            <!--</li>-->
        </ul>
    </div>
</nav>
<main role="main" class="container">
    <div class="jumbotron mt-lg-5">
        <h2>Fresh Technology System Access Request Form</h2>
        <form th:object="${credentialRequest}" th:action="@{/email/}" method="post">
            <div id="userinfo">
                <h3>User Information</h3>
                <label>Name of User:
                    <input type="text" th:field="*{userName}">
                </label>
                <br>
                <label>Concept:
                    <input type="text" th:field="*{concept}">
                </label>
                <br>
                <label>Store Location:
                    <input type="text" th:field="*{location}">
                </label>
                <div>
                    <label th:for="${#ids.next('userPosition')}">User Position</label>
                    <select th:field="*{userPosition}">
                        <option th:each="userPos : ${allPositions}"
                                th:value="${userPos}"
                                th:text="${userPos}"></option>
                    </select>
                </div>
            </div>
            <div id="reqinfo">
                <h3>Requester Information</h3>
                <label>Requester Name:
                    <input type="text" th:field="*{reqName}">
                </label>
                <br>
                <label>Requester Email:
                    <input type="text" th:field="*{reqEmail}">
                </label>
                <div>
                    <label th:for="${#ids.next('requesterPosition')}">Requester Position</label>
                    <select th:field="*{reqPosition}">
                        <option th:each="reqPosition : ${allPositions}"
                                th:value="${reqPosition}"
                                th:text="${reqPosition}"></option>
                    </select>
                </div>
            </div>
            <div id="reqtype">
                <h3>Request Type</h3>
                <ul>
                    <li th:each="rtype : ${requestTypes}">
                        <input type="radio" th:field="*{reqType}" th:value="${rtype}">
                        <label th:for="${#ids.prev('reqType')}" th:text="${rtype}"></label>
                    </li>
                </ul>
            </div>
            <div id="system">
                <h3>Systems</h3>
                <ul>
                    <li th:each="sys : ${systemTypes}">
                        <input type="checkbox" th:field="*{systemTypes}" th:value="${{sys}}">
                        <label th:for="${#ids.prev('systemTypes')}" th:text="${sys}"></label>
                    </li>
                </ul>
            </div>
            <div id="email">
                <h3>Email</h3>
                <p>If removing you may provide a forward address.</p>
                <div>
                    <label>Forward Email:</label>
                    <input type="text" th:field="*{forwardEmail}">
                </div>
            </div>
            <div id="tools">
                <h3>Tools Account Options</h3>
                <div>
                    <h4>Additional Permissions</h4>
                    <p>(*GM Defaults)</p>
                    <ul>
                        <li>
                            <input type="checkbox" th:field="*{empMaint}" value="Pay Rates">
                            <label>*Can View and Edit Pay Rates</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{empMaint}" value="Terminate Employees">
                            <label>*Can Terminate Employees</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{empMaint}" value="Run Remotely">
                            <label>*Can Run Employee Maintenance Remotely</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{hourlyRateAudit}" value="View Grid">
                            <label>*Can View Active Employee Grid</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{hourlyRateAudit}" value="Run Audit">
                            <label>*Can Run Hourly Rate Audit</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{invCounts}">
                            <label>*Can View and Update Organization</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{flash}">
                            <label>*Can Run Flash</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{salaryMgmt}">
                            <label>Can Run Salary Management Tool (must be requested by Owner/Concept Executive)</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{foodBevReq}">
                            <label>Can Request New PLU</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{payrollData}">
                            <label>Remove permission for GM User to Run Payroll Register (includes all Salaried
                                Employees)</label>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>Sales Reports Email</h4>
                    <ul id="salesReports">
                        <li>
                            <input type="checkbox" th:field="*{salesReports}" value="Daily">
                            <label>Sales Report (must be requested by Owner/Concept Executive)</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{salesReports}" value="Projected">
                            <label>Projected Sales Report (must be requested by Owner/Concept Executive</label>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <input type="submit" value="Submit Request">
        </form>
    </div>
</main>
</body>
</html>