<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headfragment">
    <meta charset="UTF-8">
    <title>Fresh Technology</title>
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
    <script type='text/javascript' src="/webjars/jquery/jquery.min.js"></script>
    <script type='text/javascript' src='/webjars/bootstrap/js/bootstrap.min.js'></script>
</head>
<body>
<nav th:fragment="navfragment" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="col-sm-2"><a class="navbar-brand" href="/"><img style="width: 100% \9;" class="img-fluid" alt="Responsive image" src="/images/FTPHB.png" /></a></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/credentialForm">Credential Request</a>
            </li>
            <!--<li class="nav-item">-->
            <!--<a class="nav-link disabled" href="#">Disabled</a>-->
            <!--</li>-->
        </ul>
    </div>
</nav>
</body>
</html>