<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags"
      lang="en">
<head th:fragment="headfragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <META NAME="robots" CONTENT="noindex,nofollow">
    <meta name="author" content="Scott Wanninger">
    <title>Fresh Technology</title>
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="bg-dark">
<nav id="nav" th:fragment="navfragment" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="col-sm-2">
        <a class="navbar-brand" href="/">
            <img style="width: 100%;" class="img-fluid" alt="Responsive image" src="/images/FTPHB.png" />
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="hasAnyAuthority('OWNER','OPERATOR','OPERATOR-EDIT','ADMIN','GM_USER','USER')">
                <a class="nav-link" href="/resources/apps">Apps</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('OWNER','OPERATOR','OPERATOR-EDIT','ADMIN','GM_USER')">
                <a class="nav-link" href="/resources/wallpaper">Wallpaper</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('OWNER','OPERATOR','OPERATOR-EDIT','ADMIN','GM_USER','USER')">
                <a class="nav-link" href="/resources/recipelinks">Recipes</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('OWNER','OPERATOR','OPERATOR-EDIT','ADMIN','GM_USER','USER')">
                <a class="nav-link" href="/form/credential">Credential Request</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('OWNER','OPERATOR','OPERATOR-EDIT','ADMIN')">
                <a class="nav-link" href="/form/recipe">Recipe Request</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('MAC')">
                <a class="nav-link" href="/mac/refund">EDC Refund</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('MAC')">
                <a class="nav-link" href="/mac/reset">Password Reset</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('MAC')">
                <a class="nav-link" href="/mac/beer/approve">Beer Approval</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('MAC')">
                <a class="nav-link" href="/mac/beer/remove">Remove Exclude</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('MAC')">
                <a class="nav-link" href="https://tmacrestaurants.sharepoint.com/">Share Point</a>
            </li>
            <!--<li class="nav-item" sec:authorize="hasAuthority('OWNER')">-->
                <!--<a class="nav-link" href="/tech">Tech</a>-->
            <!--</li>-->
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="https://fthd.freshdesk.com/">Contact Support</a>
            </li>
        </ul>
        <div class="mt-2 mt-md-0">
            <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                <!--<label class="nav-link" th:inline="text">[[${#httpServletRequest.remoteUser}]]</label>-->
                <input class="btn-secondary border-0 p-2 rounded" role="button" type="submit" value="Sign Out"/>
            </form>
            <form th:action="@{/login}" method="post" sec:authorize="!isAuthenticated()">
                <!--<label th:inline="text">[[${#httpServletRequest.remoteUser}]]</label>-->
                <input class="btn-secondary border-0 p-2 rounded" role="button" type="submit" value="Sign In"/>
            </form>
        </div>
    </div>
</nav>
<main id="main" role="main" class="container" th:fragment="mainfragment(content)">
    <div class="jumbotron mt-lg-5">
        <th:block th:replace="${content}"></th:block>
    </div>
</main>
<div th:fragment="scripts">
    <script type='text/javascript' src="/webjars/jquery/jquery.min.js"></script>
    <script type='text/javascript' src='/webjars/bootstrap/js/bootstrap.min.js'></script>
</div>
</body>
</html>