<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: headfragment"></head>
<body>
<nav th:replace="layout :: navfragment"></nav>
<main role="main" class="container" th:replace="layout :: mainfragment(~{::content})">
    <div th:fragment="content">
            <h3 >Ipad</h3>
            <div class="d-flex align-content-start flex-wrap">
                <a th:each="ipad : ${ipadApps}" class="m-1 btn-info px-3 py-md-4 rounded" role="button"
                   th:href="'/apps/ipad/' + ${ipad}"
                   th:text="${ipad.substring(0,ipad.length()-4)}"></a>
            </div>
            <h3>Android</h3>
            <div  class="d-flex align-content-start flex-wrap">
                <a class="m-1 btn-info px-3 py-md-4 rounded" role="button" href="HTTP://freshservers.net:8080/aloha.apk">Aloha KDS</a>
                <a class="m-1 btn-info px-3 py-md-4 rounded" role="button" href="http://freshservers.net:8080/square.apk">Square KDS</a>
                <a th:each="android : ${androidApps}" class="m-1 btn-info px-3 py-md-4 rounded" role="button"
                   th:href="'/apps/android/' + ${android}"
                   th:text="${android.substring(0,android.length() - 4)}"></a>
            </div>
    </div>
</main>
<div th:replace="layout :: scripts"></div>
</body>
</html>